<div class="content">
	<div class="title-set">
		<div class="title-set__clock"></div>
		<p class="title-set__text">Latest News</p>
		<div class="title-set-button">
			<div class="title-set-button-bg">
				<div class="title-set-button-bg__text">Most Recent</div>
				<div class="title-set-button-gb__triangle"></div>
			</div>
		</div>
		<div class="title-set_grid_bg">
			<div class="title-set__grid_icon"></div>
		</div>
		<div class="title-set_list_bg">
			<div class="title-set__list_icon"></div>
		</div>
	</div>
	<div class="latest_news">
		<div class="lion">
			<div class="lion-bg">
			<div class="lion-bg__pic"></div>
			<div class="lion-bg-title">
				<div class="lion-bg-title-text">
					<p class="lion-bg-title-text__title">African Lion Cub</p>
					<p class="lion-bg-title-text__time">3 hours ago</p>
				</div>
				<div class="lion-bg-title-rate">
					<div class="lion-bg-title-rate-stars">
						<div class="lion-bg-title-rate-stars__first"></div>
						<div class="lion-bg-title-rate-stars__second"></div>
						<div class="lion-bg-title-rate-stars__third"></div>
						<div class="lion-bg-title-rate-stars__fourth"></div>
						<div class="lion-bg-title-rate-stars__fifth"></div>
					</div>
					<p class="lion-bg-title-rate__votes">1,291 votes</p>
				</div>
			</div>
		</div>
		<p class="lion__subscr">An African lion cub rests in the tall grasses of Botswana’s Okavango Delta. Once ranging across the African continent and into Syria, Israel, Iraq, Pakistan, Iran, and even northwest India, lions have declined to as few as 20,000 animals from about 450,000 just 50 years ago.</p>
	</div>
	<div class="gorilla">
		<div class="gorilla-bg">
			<div class="gorilla-bg__pic"></div>
			<div class="gorilla-bg-title">
				<div class="gorilla-bg-title-text">
					<p class="gorilla-bg-title-text__title">Young Mountain Gorilla</p>
					<p class="gorilla-bg-title-text__time">5 hours ago</p>
				</div>
				<div class="gorilla-bg-title-rate">
					<div class="gorilla-bg-title-rate-stars">
						<div class="gorilla-bg-title-rate-stars__first"></div>
						<div class="gorilla-bg-title-rate-stars__second"></div>
						<div class="gorilla-bg-title-rate-stars__third"></div>
						<div class="gorilla-bg-title-rate-stars__fourth"></div>
						<div class="gorilla-bg-title-rate-stars__fifth"></div>
					</div>
					<div class="gorilla-bg-title-rate__votes">972 votes</div>
				</div>
			</div>
		</div>
		<p class="gorilla__subscr">This young mountain gorilla, named Kwibesha, is a member of the Kabrizi family of gorillas in Virunga National Park. Wildlife rangers in the park have had to suspend their monitoring of the gorillas because rebel militias and the Congolese army occupy much of their habitat.</p>
	</div>
	<div class="penguins">
		<div class="penguins-bg">
			<div class="penguins-bg__pic"></div>
			<div class="penguins-bg-title">
				<div class="penguins-bg-title-text">
					<p class="penguins-bg-title-text__title">King Penguins</p>
					<p class="penguins-bg-title-text__time">8 hours ago</p>
				</div>
				<div class="penguins-bg-title-rate">
					<div class="penguins-bg-title-rate-stars">
						<div class="penguins-bg-title-rate-stars__first"></div>
						<div class="penguins-bg-title-rate-stars__second"></div>
						<div class="penguins-bg-title-rate-stars__third"></div>
						<div class="penguins-bg-title-rate-stars__fourth"></div>
						<div class="penguins-bg-title-rate-stars__fifth"></div>
					</div>
					<div class="penguins-bg-title-rate__votes">681 votes</div>
				</div>
			</div>
		</div>
		<p class="penguins__subscr">King penguins live on the more temperate islands north of Antarctica. Although their habitat is warmer than that of emperor penguins, king penguins have four layers of feathers and huddle together for warmth.
		</p>
		</div>
		<div class="shark">
			<div class="shark-bg">
				<div class="shark-bg__pic"></div>
				<div class="shark-bg-title">
					<div class="shark-bg-title-text">
						<p class="shark-bg-title-text__title">Great White Shark</p>
						<p class="shark-bg-title-text__time">1 day ago</p>
					</div>
					<div class="shark-bg-title-rate">
						<div class="shark-bg-title-rate-stars">
							<div class="shark-bg-title-rate-stars__first"></div>
							<div class="shark-bg-title-rate-stars__second"></div>
							<div class="shark-bg-title-rate-stars__third"></div>
							<div class="shark-bg-title-rate-stars__fourth"></div>
							<div class="shark-bg-title-rate-stars__fifth"></div>
						</div>
						<div class="shark-bg-title-rate__votes">2,827 votes</div>
					</div>
				</div>
			</div>
			<p class="shark__subscr">The legendary great white shark is far more fearsome in our imaginations than in reality. As scientific research on these elusive predators increases, their image as mindless killing machines is beginning to fade.
			</p>
		</div>
	</div>
</div>