<div class="footer">
	<div class="footer-container">
		<form class="footer-form">
			<input type="text" name="footer-container__input" class="footer-container__input" placeholder="type your email">
			<div class="footer-container-button-bg">
				<button class="footer-container-button">SUBSCRIBE</button>
			</div>
		</form>
		<a href="#"><div class="footer-facebook-bg"></div></a>
		<a href="#"><div class="footer-twitter-bg"></div></a>
		<a href="#"><div class="footer-youtube-bg"></div></a>
		<div class="footer-info">
			<a href="#"><p class="footer-info__service">Customer Service</p></a>
			<div class="footer-info__spliter"></div>
			<a href="#"><p class="footer-info__advirtise">Advirtise With Us</p></a>
			<div class="footer-info__spliter"></div>
			<a href="#"><p class="footer-info__terms">Terms of Service</p></a>
			<div class="footer-info__spliter"></div>
			<a href="#"><p class="footer-info__privacy">Privacy Policy</p></a>
			<p class="footer-info__copyright">&copy; 1996-2013 National Geographic Society. All rights reserved</p>
		</div>
	</div>
</div>