<div class="header">
	<a href="#"><div class="header__logo"></div></a>
	<div class="search-input">
		<div class="search-input__searchicon"></div>
		<input placeholder="Search" type="text" name="search-input__text" class="search-input__text">
		<div class="search-input-categories">
			<div class="search-input-categories-active"></div>
			<div class="search-input-categories-border">
				<p class="search-input-categories-border__text">All Categories</p>
				<p class="search-input-categories-border__text-hover">...</p>
				<div class="search-input-categories-border__triangle"></div>
			</div>
		</div>
		<div class="search-input-bg">
			<div class="search-input-bg__go"></div>
		</div>
	</div>
	<div class="sign-button">
		<div class="sign-button-bg-up">
			<div class="sign-button-bg-up__btn-up"></div>
			<p class="sign-button-bg-up__text">Sign up</p>
		</div>
		<div class="sign-button__spliter"></div>
		<div class="sign-button-bg-login">
			<div class="sign-button-bg-login__btn-login"></div>
			<p class="sign-button-bg-login__text">login</p>
		</div>
	</div>
</div>