<div class="menu">
	<hr class="menu__spliter-first">
		<a href="#">
			<div class="menu__bg-home">
				<div class="menu__home">
				<p class="menu__text-home menu__text-current">HOME</p>
				</div>
			</div>
		</a>
	<hr class="menu__spliter-second">
		<a href="#">
			<div class="menu__bg-photography">
				<div class="menu__photography"></div>
				<p class="menu__text-photography">Photography</p>
			</div>
		</a>
	<hr class="menu__spliter-third">
		<a href="#">
			<div class="menu__bg-video">
				<div class="menu__video"></div>
				<p class="menu__text-video">Video</p>
			</div>
		</a>
	<hr class="menu__spliter-fourth">
		<a href="#">
			<div class="menu__bg-environment">
				<div class="menu__environment"></div>
				<p class="menu__text-environment">Environment</p>
			</div>
		</a>
	<hr class="menu__spliter-fifth">
		<a href="#">
			<div class="menu__bg-travel">
				<div class="menu__travel"></div>
				<p class="menu__text-travel">Travel</p>
			</div>
		</a>
	<hr class="menu__spliter-sixth">
		<a href="#">
			<div class="menu__bg-adventure">
				<div class="menu__adventure"></div>
				<p class="menu__text-adventure">Adventure</p>
			</div>
		</a>
	<hr class="menu__spliter-seventh">
		<a href="#">
			<div class="menu__bg-tv">
				<div class="menu__tv"></div>
				<p class="menu__text-tv">Television</p>
			</div>
		</a>
	<hr class="menu__spliter-eighth">
		<a href="#">
			<div class="menu__bg-kids">
				<div class="menu__kids"></div>
				<p class="menu__text-kids">Kids</p>
			</div>
		</a>
	<hr class="menu__spliter-ninth">			
</div>