<div class="magazine">
	<div class="magazine-menu">
	<div class="magazine-menu__icon"></div>
	<p class="magazine-menu__title">National Geographic Magazines</p>
		<div class="side-bar-events-nav">		
			<div class="side-bar-events-nav-bg-left">
				<div class="side-bar-events-nav__left"></div>
			</div>
			<div class="side-bar-events-nav__spliter"></div>
			<div class="side-bar-events-nav-bg-right">
				<div class="side-bar-events-nav__right"></div>
			</div>
		</div>
	</div>
	<div class="magazine-item-list">
		<div class="magazine-item-list-item-first">
			<div class="magazine-item-list-item-first-bg">
				<div class="magazine-item-list-item-first-bg-pic"></div>
				<div class="magazine-item-list-item-first-bg-text">National Geographic Magazine</div>
			</div>
			<div class="magazine-item-list-item-first-title">
				<div class="magazine-item-list-item-first-title-rate">
					<div class="magazine-item-list-item-first-title-rate-star">
						<div class="magazine-item-list-item-first-title-rate-star__first"></div>
						<div class="magazine-item-list-item-first-title-rate-star__second"></div>
						<div class="magazine-item-list-item-first-title-rate-star__third"></div>
						<div class="magazine-item-list-item-first-title-rate-star__fourth"></div>
						<div class="magazine-item-list-item-first-title-rate-star__fifth"></div>
					</div>
					<div class="magazine-item-list-item-first-title-rate__votes">7,948 votes</div>
				</div>
				<div class="magazine-item-list-item-first-title-subscr">
					<div class="magazine-item-list-item-first-title-subscr__icon"></div>
					<div class="magazine-item-list-item-first-title-subscr__spliter"></div>
					<div class="magazine-item-list-item-first-title-subscr-bg">
						<div class="magazine-item-list-item-first-title-subscr__text">SUBSCRIBE</div>
					</div>
				</div>
			</div>
		</div>
		<div class="magazine-item-list-item-second">
			<div class="magazine-item-list-item-second-bg">
				<div class="magazine-item-list-item-second-bg-pic"></div>
				<div class="magazine-item-list-item-second-bg-text">National Geographic Kids Magazine</div>
			</div>
			<div class="magazine-item-list-item-second-title">
				<div class="magazine-item-list-item-second-title-rate">
					<div class="magazine-item-list-item-second-title-rate-star">
						<div class="magazine-item-list-item-second-title-rate-star__first"></div>
						<div class="magazine-item-list-item-second-title-rate-star__second"></div>
						<div class="magazine-item-list-item-second-title-rate-star__third"></div>
						<div class="magazine-item-list-item-second-title-rate-star__fourth"></div>
						<div class="magazine-item-list-item-second-title-rate-star__fifth"></div>
					</div>
					<div class="magazine-item-list-item-second-title-rate__votes">7,948 votes</div>
				</div>
				<div class="magazine-item-list-item-second-title-subscr">
					<div class="magazine-item-list-item-second-title-subscr__icon"></div>
					<div class="magazine-item-list-item-second-title-subscr__spliter"></div>
					<div class="magazine-item-list-item-second-title-subscr-bg">
						<div class="magazine-item-list-item-second-title-subscr__text">SUBSCRIBE</div>
					</div>

				</div>
			</div>
		</div>
		<div class="magazine-item-list-item-third">
			<div class="magazine-item-list-item-third-bg">
				<div class="magazine-item-list-item-third-bg-pic"></div>
				<div class="magazine-item-list-item-third-bg-text">NG Young Explorer Magazine</div>
			</div>
			<div class="magazine-item-list-item-third-title">
				<div class="magazine-item-list-item-third-title-rate">
					<div class="magazine-item-list-item-third-title-rate-star">
						<div class="magazine-item-list-item-third-title-rate-star__first"></div>
						<div class="magazine-item-list-item-third-title-rate-star__second"></div>
						<div class="magazine-item-list-item-third-title-rate-star__third"></div>
						<div class="magazine-item-list-item-third-title-rate-star__fourth"></div>
						<div class="magazine-item-list-item-third-title-rate-star__fifth"></div>
					</div>
					<div class="magazine-item-list-item-third-title-rate__votes">7,948 votes</div>
				</div>
				<div class="magazine-item-list-item-third-title-subscr">
					<div class="magazine-item-list-item-third-title-subscr__icon"></div>
					<div class="magazine-item-list-item-third-title-subscr__spliter"></div>
					<div class="magazine-item-list-item-third-title-subscr-bg">
						<div class="magazine-item-list-item-third-title-subscr__text">SUBSCRIBE</div>
					</div>
				</div>
			</div>
		</div>
		<div class="magazine-item-list-item-fourth">
			<div class="magazine-item-list-item-fourth-bg">
				<div class="magazine-item-list-item-fourth-bg-pic"></div>
				<div class="magazine-item-list-item-fourth-bg-text">National Geographic Little</div>
			</div>
			<div class="magazine-item-list-item-fourth-title">
				<div class="magazine-item-list-item-fourth-title-rate">
					<div class="magazine-item-list-item-fourth-title-rate-star">
						<div class="magazine-item-list-item-fourth-title-rate-star__first"></div>
						<div class="magazine-item-list-item-fourth-title-rate-star__second"></div>
						<div class="magazine-item-list-item-fourth-title-rate-star__third"></div>
						<div class="magazine-item-list-item-fourth-title-rate-star__fourth"></div>
						<div class="magazine-item-list-item-fourth-title-rate-star__fifth"></div>
					</div>
					<div class="magazine-item-list-item-fourth-title-rate__votes">7,948 votes</div>
				</div>
				<div class="magazine-item-list-item-fourth-title-subscr">
					<div class="magazine-item-list-item-fourth-title-subscr__icon"></div>
					<div class="magazine-item-list-item-fourth-title-subscr__spliter"></div>
					<div class="magazine-item-list-item-fourth-title-subscr-bg">
						<div class="magazine-item-list-item-fourth-title-subscr__text">SUBSCRIBE</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>