<div class="magazine">
	<div class="magazine-menu">
	<div class="magazine-menu__icon"></div>
	<p class="magazine-menu__title">National Geographic Magazines</p>
		<div class="side-bar-events-nav">		
			<div class="side-bar-events-nav-bg-left">
				<div class="side-bar-events-nav__left"></div>
			</div>
			<div class="side-bar-events-nav__spliter"></div>
			<div class="side-bar-events-nav-bg-right">
				<div class="side-bar-events-nav__right"></div>
			</div>
		</div>
	</div>
	<div class="magazine-item-list">
		<div class="magazine-item-list__item_first"></div>
		<div class="magazine-item-list__item_second"></div>
		<div class="magazine-item-list__item_third"></div>
		<div class="magazine-item-list__item_fourth"></div>
	</div>
</div>