<div class="side-bar">
	<div class="side-bar-news">
		<div class="side-bar-news-title"></div>
		<div class="side-bar-news-content">
			<div class="side-bar-news-content-snake">
				<div class="side-bar-news-content-snake__pic"></div>
				<div class="snake-bg-title-text">
					<p class="snake-bg-title-text__title">African Lion Cub</p>
					<p class="snake-bg-title-text__time">3 hours ago</p>
				</div>
				<div class="snake-bg-title-rate">
					<div class="snake-bg-title-rate-stars">
						<div class="snake-bg-title-rate-stars__first"></div>
						<div class="snake-bg-title-rate-stars__second"></div>
						<div class="snake-bg-title-rate-stars__third"></div>
						<div class="snake-bg-title-rate-stars__fourth"></div>
						<div class="snake-bg-title-rate-stars__fifth"></div>
					</div>
					<p class="snake-bg-title-rate__votes">1,291 votes</p>
				</div>	
			</div>
			<div class="side-bar-news-content-pangolin">
				<div class="side-bar-news-content-pangolin__pic"></div>
				<div class="pangolin-bg-title-text">
					<p class="pangolin-bg-title-text__title">African Lion Cub</p>
					<p class="pangolin-bg-title-text__time">3 hours ago</p>
				</div>
				<div class="pangolin-bg-title-rate">
					<div class="pangolin-bg-title-rate-stars">
						<div class="pangolin-bg-title-rate-stars__first"></div>
						<div class="pangolin-bg-title-rate-stars__second"></div>
						<div class="pangolin-bg-title-rate-stars__third"></div>
						<div class="pangolin-bg-title-rate-stars__fourth"></div>
						<div class="pangolin-bg-title-rate-stars__fifth"></div>
					</div>
					<p class="pangolin-bg-title-rate__votes">1,291 votes</p>
				</div>
			</div>
		</div>
	</div>
	<div class="side-bar-videos">
		<div class="side-bar-videos-title"></div>
		<div class="side-bar-videos-content">
			<div class="side-bar-videos-content-parrot"></div>
			<div class="side-bar-videos-content-fish"></div>
		</div>
	</div>
	<div class="side-bar-events">
		<div class="side-bar-events-title"></div>
		<div class="side-bar-events-content"></div>
	</div>
	<div class="side-bar-shop"></div>
</div>