<div class="side-bar">
	<div class="side-bar-news">
		<div class="side-bar-news-title">
			<div class="side-bar-news-title__icon_calendar"></div>
			<p class="side-bar-news-title__text">Most Popular News</p>
		</div>
		<div class="side-bar-news-content">
			<div class="side-bar-news-content-snake">
				<div class="side-bar-news-content-snake__pic"></div>
				<div class="side-bar-news-content-bg">
					<div class="snake-bg-title-text">
						<p class="snake-bg-title-text__title">The Bite That Heals</p>
						<p class="snake-bg-title-text__time">3 hours ago</p>
					</div>
					<div class="snake-bg-title-rate">
						<div class="snake-bg-title-rate-stars">
							<div class="snake-bg-title-rate-stars__first"></div>
							<div class="snake-bg-title-rate-stars__second"></div>
							<div class="snake-bg-title-rate-stars__third"></div>
							<div class="snake-bg-title-rate-stars__fourth"></div>
							<div class="snake-bg-title-rate-stars__fifth"></div>
						</div>
						<p class="snake-bg-title-rate__votes">1,291 votes</p>
					</div>
				</div>
			</div>
			<div class="side-bar-news-content-pangolin">
				<div class="side-bar-news-content-pangolin__pic"></div>
				<div class="side-bar-news-content-bg">
					<div class="pangolin-bg-title-text">
						<p class="pangolin-bg-title-text__title">African Lion Cub</p>
						<p class="pangolin-bg-title-text__time">3 hours ago</p>
					</div>
					<div class="pangolin-bg-title-rate">
						<div class="pangolin-bg-title-rate-stars">
							<div class="pangolin-bg-title-rate-stars__first"></div>
							<div class="pangolin-bg-title-rate-stars__second"></div>
							<div class="pangolin-bg-title-rate-stars__third"></div>
							<div class="pangolin-bg-title-rate-stars__fourth"></div>
							<div class="pangolin-bg-title-rate-stars__fifth"></div>
						</div>
						<p class="pangolin-bg-title-rate__votes">1,291 votes</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="side-bar-videos">
		<div class="side-bar-videos-title">
			<div class="side-bar-videos-title__icon_camera"></div>
			<p class="side-bar-videos-title__text">Most Popular Videos</p>
		</div>
		<div class="side-bar-videos-content">
			<div class="side-bar-videos-content-parrot">
				<div class="side-bar-videos-content-parrot-pic">
					<div class="side-bar-videos-content-parrot-pic-text">
						<div class="side-bar-videos-content-parrot-pic-text__title">Most Rare Birds Ever</div>
						<div class="side-bar-videos-content-parrot-pic-text__views">211,482 views</div>
					</div>
					<div class="side-bar-videos-content-parrot__icon_play"></div>
				</div>
			</div>
			<div class="side-bar-videos-content-fish">
				<div class="side-bar-videos-content-fish-pic">
					<div class="side-bar-videos-content-fish-pic-text">
						<div class="side-bar-videos-content-fish-pic-text__title">Mandarin	Dragonet</div>
						<div class="side-bar-videos-content-fish-pic-text__views">192,029 views</div>
					</div>
					<div class="side-bar-videos-content-fish__icon_play"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="side-bar-events">
		<div class="side-bar-events-title">
			<div class="side-bar-events-title__icon_calendar"></div>
			<div class="side-bar-events-title__text">Upcoming Events</div>
			<div class="side-bar-events-nav">
				<div class="side-bar-events-nav-bg-left">
					<div class="side-bar-events-nav__left"></div>
				</div>
				<div class="side-bar-events-nav__spliter"></div>
				<div class="side-bar-events-nav-bg-right">
					<div class="side-bar-events-nav__right"></div>
				</div>
			</div>
		</div>
		<div class="side-bar-events-content">
			<div class="side-bar-events-sub-title">
				<p class="side-bar-events-title__text">NatGeo Live Student Matinees</p>
			</div>
			<div class="side-bar-events-content-pic">
				<div class="side-bar-events-content-pic__icon"></div>
				<p class="side-bar-events-content-pic__date">April 17,2013</p>
			</div>
			<div class="side-bar-events-content__text">Live Student Matinees offer students in USA and Canada entertaining and visually spectacular presentations by...</div>
		</div>
	</div>
	<div class="side-bar-shop">
		<div class="side-bar-shop-basket">
			<div class="side-bar-shop-basket-icon"></div>
			<div class="side-bar-shop-basket__spliter"></div>
			<div class="side-bar-shop-basket-bg">
				<div class="side-bar-shop-basket-bg__text">SHOPPING</div>
			</div>
		</div>
		<div class="side-bar-shop-subscr">
			<div class="side-bar-shop-subscr-icon"></div>
			<div class="side-bar-shop-subscr__spliter"></div>
			<div class="side-bar-shop-subscr-bg">
				<div class="side-bar-shop-subscr-bg__text">SUBSCRIPTION</div>
			</div>
		</div>
	</div>
</div>