<div class="sub-menu">
	<table class="table">
		<tr>
			<td class="table__item-current">
				<div class="table__item_icon-news"></div>
				<p class="table__item_text-news table__item_text-current">Daily News</p>
			</td>
			<td class="table__item-magazine">
				<div class="table__item_icon-magazine"></div>
				<p class="table__item_text-magazine">Magazine</p>
			</dt>
		</tr>
		<tr>
			<td class="table__item-maps">
				<div class="table__item_icon-maps"></div>
				<p class="table__item_text-maps">Maps</p>
			</td>
			<td class="table__item-science">
				<div class="table__item_icon-science"></div>
				<p class="table__item_text-science">Science</p>
			</dt>
		</tr>
		<tr>
			<td class="table__item-education">
				<div class="table__item_icon-education"></div>
				<p class="table__item_text-education">Education</p>
			</td>
			<td class="table__item-games">
				<div class="table__item_icon-games"></div>
				<p class="table__item_text-games">Games</p>
			</dt>
		</tr>
		<tr>
			<td class="table__item-events">
				<div class="table__item_icon-events"></div>
				<p class="table__item_text-events">Events</p>
			</td>
			<td class="table__item-blogs">
				<div class="table__item_icon-blogs"></div>
				<p class="table__item_text-blogs">Blogs</p>
			</dt>
		</tr>
		<tr>
			<td class="table__item-explorers">
				<div class="table__item_icon-explorers"></div>
				<p class="table__item_text-explorers">Explorers</p>
			</td>
			<td class="table__item-trips">
				<div class="table__item_icon-trips"></div>
				<p class="table__item_text-trips">Trips</p>
			</dt>
		</tr>
	</table>
</div>