<div class="slider">
	<ul class="filter">
		<li class="filter__item filter__home filter__item-current">HOME
			<div class="filter__triangle_bg">
				<div class="filter__triangle_home"></div>
			</div>
		</li>
		<li class="filter__item filter__animals">Animals
			<div class="filter__triangle_bg">
				<div class="filter__triangle_animals"></div>
			</div>
		</li>
		<li class="filter__item filter__ancient">Ancient
			<div class="filter__triangle_bg">
				<div class="filter__triangle_ancient"></div>
			</div>
		</li>
		<li class="filter__item filter__energy">Energy
			<div class="filter__triangle_bg">
				<div class="filter__triangle_energy"></div>
			</div>
		</li>
		<li class="filter__item filter__environment">Environment
			<div class="filter__triangle_bg">
				<div class="filter__triangle_environment"></div>
			</div>
		</li>
		<li class="filter__item filter__travel">Travel
			<div class="filter__triangle_bg">
				<div class="filter__triangle_travel"></div>
			</div>
		</li>
	</ul>
	<div class="slider-container">
		<div class="slider-frame">
			<div class="slider-pic__first"></div>
			<div class="slider-pic__second"></div>
			<div class="slider-pic__third"></div>
		</div>
	</div>	
	<ul class="slider-pic__menu">
		<li class="slider-pic__menu_first slider-pic__menu_active">1</li>
		<div class="slider-pic__menu_spliter"></div>
		<li class="slider-pic__menu_second">2</li>
		<div class="slider-pic__menu_spliter"></div>
		<li class="slider-pic__menu_third">3</li>
	</ul>
	<div class="slider-subscr">
		<div class="slider-subscr__text">
			<p class="slider-subscr__text_title">Lion Cubs Playing</p>
			<p class="slider-subscr__text_subscr">African lion clubs play in the grass in the Okavango Delta</p>
		</div>
		<div class="slider-subscr__pause">
			<div class="slider-subscr__pause_icon"></div>
		</div>
	</div>
</div>