html {
    background-color: #fbfbfb;
}

%ng-sprite_icons {
    background-image: url(../../img/natgeo/ng-sprite_icons.png);
    background-repeat: no-repeat;
    display: block; 
}

%ng-sprite_icons_hover {
    @extend %ng-sprite_icons;
    background-image: url(../../img/natgeo/ng-sprite_icons_hover.png);
}

%ng-sprite_icons_sub-menu {
    @extend %ng-sprite_icons;
    background-image: url(../../img/natgeo/ng-sprite_icons_sub-menu.png);
}

%latest_news__item_star_empty {
    @extend %ng-sprite_icons;
    width: 13px;
    height: 12px;
    margin-left: 2px;
    float: left;
    background-position: -5px -51px;
}

%latest_news__item_star_full {
    @extend %ng-sprite_icons;
    width: 13px;
    height: 12px;
    float: left;
    margin-left: 2px;
    background-position: -28px -51px;
}

%latest_news__item {
    height: 238px;
    width: 338px;
    border: 1px solid #e8e8e8;
    background-color: #ffffff;
}

%latest_news__item_bg {
    height: 146px;
    width: 327px;
    margin-top: 4px;
    margin-left: 4px;
    border: 1px solid #e8e8e8;
    background-color: #fbfbfb;
}

%latest_news__item_pic_size {
    height: 100px;
    width: 319px;
    margin-top: 4px;
    margin-left: 4px;
}

%latest_news__item_subscr {
    margin-top: 8px;
    margin-left: 7px;
    font-size: 13px;
    color: #777777;
}

%table__item {
    height: 66px;
    width: 76px;
    border: 1px solid #e8e8e8;
    color: #777777;
    background-color: #ffffff;
}

%filter__triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 0 9px;
    border-color: #555555 transparent transparent transparent;
    display: inline-block;
    margin-left: 9px;
    margin-right: 54px;
    margin-top:9px;
    visibility: hidden;
}

%slider-pic__menu_item {
    height: 30px;
    width: 26px;
    float: left;
    line-height: 30px;
}

/*= natgeo/index/ng-wrapper.scss */

/*= natgeo/index/ng-menu.scss */

/*= natgeo/index/ng-side-bar.scss */


.wrapper-content {
    float: left;

    /*= natgeo/index/ng-sub-menu.scss */

    /*= natgeo/index/ng-slider.scss */

    /*= natgeo/index/ng-content.scss */
}

/*= natgeo/index/ng-side-bar.scss */

/*= natgeo/index/ng-magazine.scss */

/*= natgeo/index/ng-footer.scss */