%ng-sprite_icons {
    background-image: url(../../img/natgeo/ng-sprite_icons.png);
    background-repeat: no-repeat;
    display: block; 
}

%latest_news__item_star_empty {
    @extend %ng-sprite_icons;
    width: 13px;
    height: 12px;
    margin-left: 2px;
    float: left;
    background-position: -5px -40px;
}

%latest_news__item_star_full {
    @extend %ng-sprite_icons;
    width: 13px;
    height: 12px;
    float: left;
    margin-left: 2px;
    background-position: -28px -40px;
}

.magazine {
    height: 272px;
    width: 940px;
    display: inline-block;

    .magazine-menu {
    	height: 30px;
    	width: 938px;
    	margin-top: 12px;
    	border: 1px solid #e8e8e8;
    	background-color: #ffffff;

    	.magazine-menu__icon {
    		@extend %ng-sprite_icons;
    		background-repeat: no-repeat;
    		display: block;
    		height: 15px;
    		width: 15px;
    		margin-top: 7px;
    		margin-left: 12px;
			float: left;
			background-position: -177px -184px;
    	}

    	.magazine-menu__title {
    		margin-top: 8px;
    		margin-left: 10px;
    		float: left;
    		display: inline-block;
    		font-weight: bold;
            font-size: 13px;
            color: #777777;
    	}

        .side-bar-events-nav-bg-left {
            height: 30px;
            width: 37px;
            float: right;

            .side-bar-events-nav__left {
                @extend %ng-sprite_icons;
                width: 22px;
                height: 22px;
                margin-top: 4px;
                margin-right: 8px;
                float: right;
                background-position: -152px -98px;
                
            }
        }

        .side-bar-events-nav-bg-left:hover {
            background: #f3f3f3;
            cursor: pointer;
        }

        .side-bar-events-nav__spliter {
            height: 19px;
            width: 1px;
            margin-top: 5px;
            display: inline-block;
            float: right;
            background-color: #eaeaea;
        }

        .side-bar-events-nav-bg-right {
            height: 30px;
            width: 37px;
            float: right;

            .side-bar-events-nav__right {
                @extend %ng-sprite_icons;
                width: 22px;
                height: 22px;
                margin-top: 4px;
                margin-right: 8px;
                float: right;
                display: inline-block;
                background-position: -152px -98px;
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -webkit-transform: rotate(15deg);
                -o-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }

        .side-bar-events-nav-bg-right:hover {
            background: #f3f3f3;
            cursor: pointer;
        }
    }

    .magazine-item-list {
		height: 200px;
		width: 940px;
		margin-top: 10px;

	    .magazine-item-list-item-first {
	    	height: 198px;
	    	width: 225px;
	    	margin-right: 10px;
	    	float: left;
	    	border: 1px solid #e8e8e8;
	    	background-color: #ffffff;

	    	.magazine-item-list-item-first-bg {
	    		height: 145px;
	    		width: 213px;
	    		margin-top: 8px;
	    		margin-left: 5px;
	    		border: 1px solid #e8e8e8;
	    		background-color: #fbfbfb;

	    		.magazine-item-list-item-first-bg-pic {
	    			height: 100px;
	    			width: 69px;
	    			margin-top: 10px;
	    			margin-left: 72px;
					background-image: url(../../img/natgeo/ng-mag_america_strikes_oil.png);
					background-repeat: no-repeat;
					display: block; 
	    		}

	    		.magazine-item-list-item-first-bg-text {
	    			margin-top: 13px;
	    			text-align: center;
					font-size: 13px;
    				color: #777777;
	    		}
	    	}

	    	.magazine-item-list-item-first-bg:hover {
	    		cursor: pointer;
	    	}
	    }

	    .magazine-item-list-item-first-title {
	    	height: 43px;
            width: 221px;
            margin-left: 5px;

            .magazine-item-list-item-first-title-rate {
            	height: 27px;
		        width: 75px;
		        margin-top: 12px;
		        float: left;

		    	.magazine-item-list-item-first-title-rate-star {
	                height: 12px;
	                width: 75px;

	                .magazine-item-list-item-first-title-rate-star__first {
	                    @extend %latest_news__item_star_full;
	                }

	                .magazine-item-list-item-first-title-rate-star__second {
	                    @extend %latest_news__item_star_full;
	                }

	                .magazine-item-list-item-first-title-rate-star__third {
	                    @extend %latest_news__item_star_full;
	                }

	                .magazine-item-list-item-first-title-rate-star__fourth {
	                    @extend %latest_news__item_star_full;
	                }

	                .magazine-item-list-item-first-title-rate-star__fifth {
	                    @extend %latest_news__item_star_full;
	                }
		    	}
	    	}

            .magazine-item-list-item-first-title-rate__votes {
                margin-top: 4px;
                margin-left: 4px;
                font-size: 12px;
                color: #a0a0a0;
            }

	    	.magazine-item-list-item-first-title-subscr {
	    		height: 31px;
				width: 102px;
				margin-top: 11px;
				float: right;
				border-top: 1px solid #e8e8e8;
				border-left: 1px solid #e8e8e8;

	            .magazine-item-list-item-first-title-subscr__icon {
	                @extend %ng-sprite_icons;
	                width: 18px;
	                height: 18px;
	                margin-top: 7px;
	                margin-left: 6px;
	                float: left;
	                background-position: -91px -133px;
	            }

	            .magazine-item-list-item-first-title-subscr__spliter {
	                height: 19px;
	                width: 1px;
	                margin-top: 6px;
	                margin-left: 7px;
	                background-color: #e8e8e8;
	                float: left;

	            }

	            .magazine-item-list-item-first-title-subscr-bg {
	                height: 33px;
	                width: 70px;
	                float: right;

	                .magazine-item-list-item-first-title-subscr__text {
	                    margin-top: 12px;
	                    text-align: center;
	                    font-size: 11px;
	                    color: #777777;
	                }
	            }

	            .magazine-item-list-item-first-title-subscr-bg:hover {
	                background-color: #f3f3f3;
	                cursor: pointer;
	            }
	    	}
	    }

	    .magazine-item-list-item-second {
	    	height: 198px;
	    	width: 226px;
	    	margin-right: 10px;
	    	float: left;
	    	border: 1px solid #e8e8e8;
	    	background-color: #ffffff;

	    	.magazine-item-list-item-second-bg {
	    		height: 145px;
	    		width: 214px;
	    		margin-top: 8px;
	    		margin-left: 5px;
	    		border: 1px solid #e8e8e8;
	    		background-color: #fbfbfb;

	    		.magazine-item-list-item-second-bg-pic {
	    			height: 100px;
	    			width: 76px;
	    			margin-top: 10px;
	    			margin-left: 69px;
					background-image: url(../../img/natgeo/ng-mag_kids.png);
					background-repeat: no-repeat;
					display: block; 
	    		}

	    		.magazine-item-list-item-second-bg-text {
	    			margin-top: 13px;
	    			text-align: center;
					font-size: 13px;
    				color: #777777;
	    		}
	    	}

	    	.magazine-item-list-item-second-bg:hover {
	    		cursor: pointer;
	    	}
	    }

	    .magazine-item-list-item-second-title {
	    	height: 43px;
            width: 221px;
            margin-left: 5px;

            .magazine-item-list-item-second-title-rate {
            	height: 27px;
		        width: 75px;
		        margin-top: 12px;
		        float: left;

		    	.magazine-item-list-item-second-title-rate-star {
	                height: 12px;
	                width: 75px;

	                .magazine-item-list-item-second-title-rate-star__first {
	                    @extend %latest_news__item_star_full;
	                }

	                .magazine-item-list-item-second-title-rate-star__second {
	                    @extend %latest_news__item_star_full;
	                }

	                .magazine-item-list-item-second-title-rate-star__third {
	                    @extend %latest_news__item_star_full;
	                }

	                .magazine-item-list-item-second-title-rate-star__fourth {
	                    @extend %latest_news__item_star_full;
	                }

	                .magazine-item-list-item-second-title-rate-star__fifth {
	                    @extend %latest_news__item_star_empty;
	                }
		    	}
	    	}

            .magazine-item-list-item-second-title-rate__votes {
                margin-top: 4px;
                margin-left: 4px;
                font-size: 12px;
                color: #a0a0a0;
            }

	    	.magazine-item-list-item-second-title-subscr {
	    		height: 31px;
				width: 102px;
				margin-top: 11px;
				float: right;
				border-top: 1px solid #e8e8e8;
				border-left: 1px solid #e8e8e8;

				.magazine-item-list-item-second-title-subscr__icon {
	                @extend %ng-sprite_icons;
	                width: 18px;
	                height: 18px;
	                margin-top: 7px;
	                margin-left: 6px;
	                float: left;
	                background-position: -91px -133px;
	            }

	            .magazine-item-list-item-second-title-subscr__spliter {
	                height: 19px;
	                width: 1px;
	                margin-top: 6px;
	                margin-left: 7px;
	                background-color: #e8e8e8;
	                float: left;

	            }

	            .magazine-item-list-item-second-title-subscr-bg {
	                height: 33px;
	                width: 70px;
	                float: right;

	                .magazine-item-list-item-second-title-subscr__text {
	                    margin-top: 12px;
	                    text-align: center;
	                    font-size: 11px;
	                    color: #777777;
	                }
	            }

	            .magazine-item-list-item-second-title-subscr-bg:hover {
	                background-color: #f3f3f3;
	                cursor: pointer;
	            }
	    	}
	    }

	    .magazine-item-list-item-third {
	    	height: 198px;
	    	width: 226px;
	    	margin-right: 10px;
	    	float: left;
	    	border: 1px solid #e8e8e8;
	    	background-color: #ffffff;	

	    	.magazine-item-list-item-third-bg {
	    		height: 145px;
	    		width: 214px;
	    		margin-top: 8px;
	    		margin-left: 5px;
	    		border: 1px solid #e8e8e8;
	    		background-color: #fbfbfb;

	    		.magazine-item-list-item-third-bg-pic {
	    			height: 100px;
	    			width: 91px;
	    			margin-top: 10px;
	    			margin-left: 72px;
					background-image: url(../../img/natgeo/ng-mag_lemurs.png);
					background-repeat: no-repeat;
					display: block; 
	    		}

	    		.magazine-item-list-item-third-bg-text {
	    			margin-top: 13px;
	    			text-align: center;
					font-size: 13px;
    				color: #777777;
	    		}
	    	}

	    	.magazine-item-list-item-third-bg:hover {
	    		cursor: pointer;
	    	}
	    }

	   	.magazine-item-list-item-third-title {
	    	height: 43px;
            width: 221px;
            margin-left: 5px;

            .magazine-item-list-item-third-title-rate {
            	height: 27px;
		        width: 75px;
		        margin-top: 12px;
		        float: left;

		    	.magazine-item-list-item-third-title-rate-star {
	                height: 12px;
	                width: 75px;

	                .magazine-item-list-item-third-title-rate-star__first {
	                    @extend %latest_news__item_star_full;
	                }

	                .magazine-item-list-item-third-title-rate-star__second {
	                    @extend %latest_news__item_star_full;
	                }

	                .magazine-item-list-item-third-title-rate-star__third {
	                    @extend %latest_news__item_star_full;
	                }

	                .magazine-item-list-item-third-title-rate-star__fourth {
	                    @extend %latest_news__item_star_full;
	                }

	                .magazine-item-list-item-third-title-rate-star__fifth {
	                    @extend %latest_news__item_star_full;
	                }
		    	}
	    	}

            .magazine-item-list-item-third-title-rate__votes {
                margin-top: 4px;
                margin-left: 4px;
                font-size: 12px;
                color: #a0a0a0;
            }

	    	.magazine-item-list-item-third-title-subscr {
	    		height: 31px;
				width: 102px;
				margin-top: 11px;
				float: right;
				border-top: 1px solid #e8e8e8;
				border-left: 1px solid #e8e8e8;

				.magazine-item-list-item-third-title-subscr__icon {
	                @extend %ng-sprite_icons;
	                width: 18px;
	                height: 18px;
	                margin-top: 7px;
	                margin-left: 6px;
	                float: left;
	                background-position: -91px -133px;
	            }

	            .magazine-item-list-item-third-title-subscr__spliter {
	                height: 19px;
	                width: 1px;
	                margin-top: 6px;
	                margin-left: 7px;
	                background-color: #e8e8e8;
	                float: left;

	            }

	            .magazine-item-list-item-third-title-subscr-bg {
	                height: 33px;
	                width: 70px;
	                float: right;

	                .magazine-item-list-item-third-title-subscr__text {
	                    margin-top: 12px;
	                    text-align: center;
	                    font-size: 11px;
	                    color: #777777;
	                }
	            }

	            .magazine-item-list-item-third-title-subscr-bg:hover {
	                background-color: #f3f3f3;
	                cursor: pointer;
	            }
	    	}
	    }

	    .magazine-item-list-item-fourth {
	    	height: 198px;
	    	width: 225px;
	    	float: left;
	    	border: 1px solid #e8e8e8;
	    	background-color: #ffffff;

	    	.magazine-item-list-item-fourth-bg {
	    		height: 145px;
	    		width: 213px;
	    		margin-top: 8px;
	    		margin-left: 5px;
	    		border: 1px solid #e8e8e8;
	    		background-color: #fbfbfb;

	    		.magazine-item-list-item-fourth-bg-pic {
	    			height: 100px;
	    			width: 91px;
	    			margin-top: 10px;
	    			margin-left: 61px;
					background-image: url(../../img/natgeo/ng-mag_polar_bears.png);
					background-repeat: no-repeat;
					display: block; 
	    		}

	    		.magazine-item-list-item-fourth-bg-text {
	    			margin-top: 13px;
	    			text-align: center;
					font-size: 13px;
    				color: #777777;
	    		}
	    	}

	    	.magazine-item-list-item-fourth-bg:hover {
	    		cursor: pointer;
	    	}
	    }

	   	.magazine-item-list-item-fourth-title {
	    	height: 43px;
            width: 221px;
            margin-left: 5px;

            .magazine-item-list-item-fourth-title-rate {
            	height: 27px;
		        width: 75px;
		        margin-top: 12px;
		        float: left;

		    	.magazine-item-list-item-fourth-title-rate-star {
	                height: 12px;
	                width: 75px;

	                .magazine-item-list-item-fourth-title-rate-star__first {
	                    @extend %latest_news__item_star_full;
	                }

	                .magazine-item-list-item-fourth-title-rate-star__second {
	                    @extend %latest_news__item_star_full;
	                }

	                .magazine-item-list-item-fourth-title-rate-star__third {
	                    @extend %latest_news__item_star_full;
	                }

	                .magazine-item-list-item-fourth-title-rate-star__fourth {
	                    @extend %latest_news__item_star_full;
	                }

	                .magazine-item-list-item-fourth-title-rate-star__fifth {
	                    @extend %latest_news__item_star_full;
	                }
		    	}
	    	}

            .magazine-item-list-item-fourth-title-rate__votes {
                margin-top: 4px;
                margin-left: 4px;
                font-size: 12px;
                color: #a0a0a0;
            }

	    	.magazine-item-list-item-fourth-title-subscr {
	    		height: 31px;
				width: 102px;
				margin-top: 11px;
				float: right;
				border-top: 1px solid #e8e8e8;
				border-left: 1px solid #e8e8e8;

				.magazine-item-list-item-fourth-title-subscr__icon {
	                @extend %ng-sprite_icons;
	                width: 18px;
	                height: 18px;
	                margin-top: 7px;
	                margin-left: 6px;
	                float: left;
	                background-position: -91px -133px;
	            }

	            .magazine-item-list-item-fourth-title-subscr__spliter {
	                height: 19px;
	                width: 1px;
	                margin-top: 6px;
	                margin-left: 7px;
	                background-color: #e8e8e8;
	                float: left;

	            }

	            .magazine-item-list-item-fourth-title-subscr-bg {
	                height: 33px;
	                width: 70px;
	                float: right;

	                .magazine-item-list-item-fourth-title-subscr__text {
	                    margin-top: 12px;
	                    text-align: center;
	                    font-size: 11px;
	                    color: #777777;
	                }
	            }

	            .magazine-item-list-item-fourth-title-subscr-bg:hover {
	                background-color: #f3f3f3;
	                cursor: pointer;
	            }
	    	}
	    }
    }
}