<content class="content">
	<h1 class="content__item_font_h1">We are coming soon..</h1>
	<h2 class="content__item_font_h2">We're sorry! Our site is under construction..</h2>
	<div class="content__divider"></div>
	<p class="content__item_font_p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has 
been the industry's standard dummy text ever since the 1500s, when an unknown printer took 
a galley of type and scrambled it to make a type specimen book.</p>
	<h3 class="content__item_font_h3">Why not connect with us?</h3>
	<ul class="social-menu">
		<li class="social-menu-item"><div class="sprite sprite_facebook"></div><a href="#" class="social-menu-item__link">Join our Facebook page</a></li>
		<li class="social-menu-item"><div class="sprite sprite_twitter"></div><a href="#" class="social-menu-item__link">Follow us on Twitter</a></li>
		<li class="social-menu-item"><div class="sprite sprite_rss"></div><a href="#" class="social-menu-item__link">Subscribe to our RSS feed</a></li>
		<li class="social-menu-item"><div class="sprite sprite_dribble"></div><a href="#" class="social-menu-item__link">Find us on Dribbble</a></li>
		<li class="social-menu-item"><div class="sprite sprite_linkedin"></div><a href="#" class="social-menu-item__link">Our profile on Linkedin</a></li>
	</ul>
</content>