<header class="header">
		<a href="cs-index.html" class="sprite header__logo_sprite_logo"></a>
	<div class="sprite header-menu_sprite_menu">
		<ul class="menu-list">
			<li class="menu-list__item"><a href="#" class="menu-list__item_font-current">Home</a></li>
			<li class="menu-list__item"><a href="#" class="menu-list__item_font-other">About</a></li>
			<li class="menu-list__item"><a href="#" class="menu-list__item_font-other">Contact</a></li>
			<li class="menu-list__item menu-list__item_phone">Call us: <span class="menu-list__item_font-color_red">+19780132105</span></li>
		</ul>
	</div>
</header>